@font-face {
    font-family: 'quicksand-bolditalic';
    src: url('quicksand-bolditalic-webfont.eot');
    src: url('quicksand-bolditalic-webfont.eot') format('embedded-opentype'),
         url('quicksand-bolditalic-webfont.woff') format('woff'),
         url('quicksand-bolditalic-webfont.ttf') format('truetype'),
         url('quicksand-bolditalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}